^\.git
^\.github
\.swp$
\.bak$

node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

.DS_Store
.AppleDouble
.LSOverride

.config/google-chrome/
.config/google-chrome/**
google-chrome/

.config/Code/
.config/Code/**
Code/

.vscode/
.idea/
*.log
.env
.env.local
.env.*.local
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig

*~
go/
go/**
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/dconf/user
.config/Thunar/accels.scm
.config/autostart/Time Doctor.desktop
