@import "~/.config/rofi/config.rasi"
window {
    padding:                        10;
    width:                          200px;
    location:                       east;
}

listview {
    lines:                           4;
    columns:                        1;
}

inputbar {
    children:   [ prompt,textbox-prompt-colon,entry,case-indicator ];
}
